In [3]:
# [ ] create team_names list and populate with 3-5 team name strings

# [ ] print the list
man_utd_managers = ['Jose Morinho','Louis Van Gaal','Ryan Giggs','David Moyes''Sir Alex Ferguson','Ron Atkinson']
print("type of object man_utd_managers is: ", type(man_utd_managers),"\n")
print(man_utd_managers)
# [ ] Create a list mix_list with numbers and strings with 4-6 items

# [ ] print the list
manutd_mgr_terms = [man_utd_managers, '27-mar-2016','19-may-2014','22-apr-2014','19-may-2013','06-nov-1986','01-jun-1981']
print(manutd_mgr_terms)

type of object man_utd_managers is:  <class 'list'>

['Jose Morinho', 'Louis Van Gaal', 'Ryan Giggs', 'David MoyesSir Alex Ferguson', 'Ron Atkinson']
[['Jose Morinho', 'Louis Van Gaal', 'Ryan Giggs', 'David MoyesSir Alex Ferguson', 'Ron Atkinson'], '27-mar-2016', '19-may-2014', '22-apr-2014', '19-may-2013', '06-nov-1986', '01-jun-1981']

In [8]:
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", "intermediate cuneiform", "medial cuneiform"]
print(ft_bones)
age_survey = [12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]
print(age_survey, type(age_survey))

['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
[12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12] <class 'list'>

In [13]:
print(ft_bones[0], "is the 1st bone on the list")
print(ft_bones[-1], "is the 1st bone on the list")
print(ft_bones[1], "is connected to the",ft_bones[3])
print(ft_bones[0].title())

calcaneus is the 1st bone on the list
medial cuneiform is the 1st bone on the list
talus is connected to the navicular
Calcaneus

In [15]:
# [ ] Create a list, streets, that lists the name of 5 street name strings

# [ ] print a message that there is "No Parking" on index 0 or index 4 streets
streets = ['Great North Road','High Street','Bridge Street','Buckingham Palace Road','Fairview Road']
print("No Parking on :"+streets[0]+" and "+streets[4])

No Parking on :Great North Road and Fairview Road

In [17]:
# [ ] Create a list, num_2_add, made of 5 different numbers between 0 - 25

# [ ] print the sum of the numbers
num_2_add = [5,15,23,17,19]
sum_of_num_2_add = num_2_add[0]+num_2_add[1]+num_2_add[2]+num_2_add[3]+num_2_add[4]
print("sum of numbers in :",num_2_add," is   :",sum_of_num_2_add)

sum of numbers in : [5, 15, 23, 17, 19]  is   : 79

In [20]:
# [ ] Review & Run, but ***Do Not Edit*** this code cell
# [ ] Fix the error by only editing and running the block below

pay_checks = [5000,3500,9875,12347,8934]
print(" Total of checks 3 & 4 = $", pay_checks[2] + pay_checks[3])

 Total of checks 3 & 4 = $ 22222

In [23]:
mixed_types = [1, "cat"]
mixed_types.append("Dogs")
print(mixed_types)

[1, 'cat', 'Dogs']

In [26]:
# [ ] append additional values to the Currency Names list using input()

# [ ] print the appended list
print(man_utd_managers)
new_name = input("enter a name")
man_utd_managers.append(new_name)
print(man_utd_managers)

['Jose Morinho', 'Louis Van Gaal', 'Ryan Giggs', 'David MoyesSir Alex Ferguson', 'Ron Atkinson', 'Dave Sexton']
enter a nameTommy Doherty
['Jose Morinho', 'Louis Van Gaal', 'Ryan Giggs', 'David MoyesSir Alex Ferguson', 'Ron Atkinson', 'Dave Sexton', 'Tommy Doherty']

In [31]:
bday_survey = []
print(bday_survey)

bday = 0
while bday != 'q':
    bday = input("Enter your birth day of month.  To quit enter 'q'")
    if bday != 'q':
        bday_survey.append(bday)
    
print(bday_survey)

[]
Enter your birth day of month.  To quit enter 'q'q
[]

In [35]:
single_digits = ["zero","one","two","three","four","five","six","seven","eight","nine"]
print("single_digits[3]:",single_digits[3],"is",type(single_digits[3]))

single_digits[3] = 3
print("single_digits[3]:",single_digits[3],"is",type(single_digits[3]))

single_digits[3]: three is <class 'str'>
single_digits[3]: 3 is <class 'int'>

In [40]:
three_num = [7,8,9,1]
print(three_num)
if three_num[0] < 5:
    print("small")
else:
    three_num[0] = "large"
    
print("after:", three_num)

[7, 8, 9, 1]
after: ['large', 8, 9, 1]

In [53]:
# first funcion

def str_replace(list, indx):
    if list[indx] < 5:
        print("small")
    else:
        list[0] = "large"
        
    return list
three_num = [3,8,9,1]
str_replace(three_num,0)

small

[3, 8, 9, 1]

In [56]:
party_list = ["Joana", "Alton", "Tobias"]
print("party_list before: ", party_list)
print("index 1 is", party_list[1], "\nindex 2 is", party_list[2], "\n")
party_list.insert(1,"Colette")
print("party_list after:  ", party_list)
print("index 1 is", party_list[1], "\nindex 2 is", party_list[2], "\nindex 3 is", party_list[3])
party_list.insert(1,"tintin")
print("party_list after:  ", party_list)
print("index 1 is", party_list[1], "\nindex 2 is", party_list[2], "\nindex 3 is", party_list[3])

party_list before:  ['Joana', 'Alton', 'Tobias']
index 1 is Alton
index 2 is Tobias

party_list after:   ['Joana', 'Colette', 'Alton', 'Tobias']
index 1 is Colette
index 2 is Alton
index 3 is Tobias
party_list after:   ['Joana', 'tintin', 'Colette', 'Alton', 'Tobias']
index 1 is tintin
index 2 is Colette
index 3 is Alton

In [59]:
# [ ] insert a name from user input into the party_list in the second position (index 1)

party_list = ["Joana", "Alton", "Tobias"]

invitee = "Y"

while invitee != 'N':
    invitee = input("who do you want to be at the party ?, Enter N to quit")
    if invitee != 'N':
        party_list.insert(1,invitee)
        print(party_list)

who do you want to be at the party ?, Enter N to quitN

In [63]:
# [ ] review and run example
# pop() gets the last item by default
party_list = ["Joana", "Alton", "Tobias"]
print(party_list)
print("Hello,", party_list.pop())
print(party_list)

['Joana', 'Alton', 'Tobias']
Hello, Tobias
['Joana', 'Alton']

In [67]:
# [ ] pop() and print the first and last items from the ft_bones list
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
print('before pop :', ft_bones)

pop_1 = ft_bones.pop(0)
pop_last = ft_bones.pop()

print("after pop :", ft_bones)
print("popped items are :", pop_1, pop_last)

before pop : ['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
after pop : ['talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform']
popped items are : calcaneus medial cuneiform

In [70]:
# test for list in while loop
check_list = ['True','False','Null']

while check_list:
    print(check_list.pop(0))

True
False
Null

In [4]:
#create a empty list purchase_amounts
#populate the list with user input for the price of items
#continue adding to list with while until "done" is entered
#can use while True: with break
#print purchase_amounts

purch_amounts = []

resp = ''
amt = ''
while amt != "done":
    amt = input("enter purchase amount.  to quit enter 'done'")
    if amt != "done":
        purch_amounts.append(amt)
    
print(purch_amounts)

#create a subtotal variable = 0
#create a while loop that runs while purchase_amount (is not empty)

#inside the loop

#pop() the last list value cast as a float type
#add the float value to a subtotal variable
#after exiting the loop print subtotal

subtotal = 0
val = 0
while purch_amounts:
    val = float(purch_amounts.pop())
    subtotal += val
    
print("sub total is :  ", subtotal)

enter purchase amount.  to quit enter 'done'done
[]
sub total is :   0

In [9]:
# [ ] remove one "Poodle" from the list: dogs , or print "no Poodle found"
# [ ] print list before and after
dogs = ["Lab", "Pug", "Poodle", "Poodle", "Pug", "Poodle", "Als"]

print(dogs)   

if "Poodle" in dogs:
    dogs.remove("Poodle")
else:
    pring("No Poodle found")
    
print("after remove", dogs)

['Lab', 'Pug', 'Poodle', 'Poodle', 'Pug', 'Poodle', 'Als']
after remove ['Lab', 'Pug', 'Poodle', 'Pug', 'Poodle', 'Als']

In [12]:
# [ ] review and run example
dogs = ["Lab", "Pug", "Poodle", "Poodle", "Pug", "Poodle"]

print(dogs)
while "Poodle" in dogs:
    dogs.remove("Poodle")
    print(dogs)

['Lab', 'Pug', 'Poodle', 'Poodle', 'Pug', 'Poodle']
['Lab', 'Pug', 'Poodle', 'Pug', 'Poodle']
['Lab', 'Pug', 'Pug', 'Poodle']
['Lab', 'Pug', 'Pug']