List Iteration - Range(stop), range(start, stop)

In [4]:
# [ ] create a list of 4 to 6 strings: birds
# print each bird in the list

birds_list = ['Peacock','Hummingbird','Rainbow Lorikeet','Pheasant','Hoopoe','Quetzal','Macaw']

for birds in birds_list:
    print(birds)
    
# [ ]  create a list of 7 integers: player_points
# [ ] print double the points for each point value
player_points = [10,15,23,3,5,6,14]
for num in player_points:
    print('plyaer point is :', num, 'doubled as :',num*2)
    
# [ ] create long_string by concatenating the items in the "birds" list previously created
# print long_string - make sure to put a space betweeen the bird names
new_string = ''
for birds in birds_list:
    new_string = new_string + birds +' '
    
print(new_string)

Peacock
Hummingbird
Rainbow Lorikeet
Pheasant
Hoopoe
Quetzal
Macaw
plyaer point is : 10 doubled as : 20
plyaer point is : 15 doubled as : 30
plyaer point is : 23 doubled as : 46
plyaer point is : 3 doubled as : 6
plyaer point is : 5 doubled as : 10
plyaer point is : 6 doubled as : 12
plyaer point is : 14 doubled as : 28
Peacock Hummingbird Rainbow Lorikeet Pheasant Hoopoe Quetzal Macaw

In [9]:
#[ ] Print only cities starting with "m"
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]

for city in cities:
    if city[0].upper() == 'M':
        print(city)
    else:
        print("......")

......
......
Munich
......
......
Mexico City
......
......

In [14]:
# [ ] sort into lists with "A" in the city name and without "A" in the name: a_city & no_a_city
a_city = []
no_a_city = []
for city in cities:
    a_pos = city.find("a")
    if a_pos != -1:
        a_city.append(city)
    else:
        no_a_city.append(city)
        
        
        
print ("cities with 'a' in them:\n", a_city)
print ("cities with no 'a' in them:\n", no_a_city)

cities with 'a' in them:
 ['Shanghai', 'Dubai', 'S達o Paulo', 'Hyderabad']
cities with no 'a' in them:
 ['New York', 'Munich', 'Tokyo', 'Mexico City']

In [16]:
# [ ] review and run example
# iterates the "cities" list, count & sum letter "a" in each city name

cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]
search_letter = "a"
total = 0

for city_name in cities:
    total += city_name.lower().count(search_letter)

print("The total # of \"" + search_letter + "\" found in the list is", total)

The total # of "a" found in the list is 6

In [ ]:
#check a list for a paint color request and print status of color "found"/"not found"

#create list, paint_colors, with 5+ colors
#get user input of string:color_request
#iterate through each color in paint_colors to check for a match with color_request
# [ ] complete paint stock


def find_color(color_in):
    paint_colors = ['Magnolia','Baby Blue','Peach','Apple Green','Brown','White']
    
    if color_in in paint_colors:
        msg = "found the color:"+color_in
        return msg
    else:
        print("Sorry, not found the color:"+color_in)
    
    
to_check = 'Y'

while to_check != 'N':
    color_in = input("Choose the Color to check.  Enter 'N' to quit:\n")
    if color_in != 'N':
        msg = find_color(color_in)
        print(msg)
    else:
        print("Good Bye!")

In [4]:
#Create a function that will iterate through foot_bones looking for a match of a string argument

#Call the function 2 times with the name of a footbone
#print immediate feedback for each answer (correct - incorrect)
#print the total # of foot_bones identified

def bones_quiz(bone_in):
    print(foot_bones)
    print("your choice of bone is:", bone_in)
    if bone_in in foot_bones:
        print("Correct!!!")
    else:
        print("oh! oh! Not correct!!")
           
            
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform","intermediate cuneiform", "medial cuneiform"]
cnt = 1
while cnt <= 2:
    if cnt == 1:
        print("Try :", cnt)
    else:
        print("last attempt:")
    
    choice = input("name a foot bone!!")
    bones_quiz(choice)

    cnt+=1

Try : 1
name a foot bone!!q
['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
your choice of bone is: q
oh! oh! Not correct!!
last attempt:
name a foot bone!!1
['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
your choice of bone is: 1
oh! oh! Not correct!!

In [7]:
#Bonus: remove correct response item from list if correct so user cannot answer same item twice

#Create a function that will iterate through foot_bones looking for a match of a string argument

#Call the function 2 times with the name of a footbone
#print immediate feedback for each answer (correct - incorrect)
#print the total # of foot_bones identified

def bones_quiz(bone_in):
    print(foot_bones)
    print("your choice of bone is:", bone_in)
    if bone_in in foot_bones:
        print("Correct!!!")
        foot_bones.remove(bone_in)
    else:
        print("oh! oh! Not correct!!")
           
            
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform","intermediate cuneiform", "medial cuneiform"]
cnt = 1
while cnt <= 2:
    if cnt == 1:
        print("Try :", cnt)
    else:
        print("last attempt:")
    
    choice = input("name a foot bone!!")
    bones_quiz(choice)

    cnt+=1

Try : 1
name a foot bone!!fdfd
['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
your choice of bone is: fdfd
oh! oh! Not correct!!
last attempt:
name a foot bone!!fd
['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
your choice of bone is: fd
oh! oh! Not correct!!

In [9]:
cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]

for city in cities:
    if city.startswith("P"):
        print(city)
    elif city.startswith("D"):
        print(city)

Dubai

In [13]:
# [ ] for x = 6, use range(x) to print the numbers 1 through 6
x = 6
for i in range(x):
    print(i)

r_list = range(x)
print(r_list)
print(list(r_list))

0
1
2
3
4
5
range(0, 6)
[0, 1, 2, 3, 4, 5]

In [20]:
# [ ] using range(x) multiply the numbers 1 through 7
# 1x2x3x4x5x6x7 = 5040
x=8
r_list = list(range(x))
print(r_list)
r_m = 1
for r in r_list:
    if r > 0:
        r_m = r_m*r
    else:
        pass
    
print(r_m)

[0, 1, 2, 3, 4, 5, 6, 7]
5040

In [22]:
# [ ] using range(start,stop), .append() the numbers 5 to 15 to the list: five_fifteen
# [ ] print list five_fifteen
five_fifteen = []
for i in list(range(5,15)):
    five_fifteen.append(i)
    
print(five_fifteen)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [25]:
# [ ] using range(start,stop) - print the 3rd, 4th and 5th words in spell_list
# output should include "February", "November", "Annual"
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
for i in range(2,5):
    print(spell_list[i])

February
November
Annual

### Range(start,stop,step)

In [28]:
# [ ] print numbers 10 to 20 by 2's using range
for i in range(10,20,2):
    print(i)
    
# [ ] print numbers 20 to 10 using range (need to countdown)
# Hint: start at 2
for i in range(20,10,-2):
    print(i)

10
12
14
16
18
20
18
16
14
12

In [37]:
#Input a word string (word)
#find the string length of word
#use range() to iterate through each letter in word (can use to range loops)
#Save odd and even letters from the word as lists
#odd_letters: starting at index 0,2,...
#even_letters: starting at index 1,3,...
#print odd and even lists

in_string = input("enter a value here:")

len_string =len(in_string)
print("length of your choice is:",len_string)
odd_letters = []
even_letters = []
print("range is:", list(range(len_string)))
for i in range(len_string):
  #  print(i)
    if i % 2 == 0:
        even_letters.append(in_string[i])
    else:
        odd_letters.append(in_string[i])

print("Even Positions letters are :", even_letters)
print("Odd position letters are :", odd_letters)

enter a value here:test
length of your choice is: 4
range is: [0, 1, 2, 3]
Even Positions letters are : ['t', 's']
Odd position letters are : ['e', 't']

In [43]:
# [ ] fix the error printing odd numbers 1 - 9
for num in range(1,10,2):
    print(num)

seq=range(0,5)
print(seq)
for x in seq:
    print(x)

1
3
5
7
9
range(0, 5)
0
1
2
3
4

In [44]:
numbers = ""
for x in range(2,8,2):
    numbers += str(x)
print(numbers)

246