## Lists Extension -  .extend(), +, reverse(), .sort() and .sorted()

In [10]:
# [ ] Create 2 lists zero_nine and ten_onehundred that contain 1-9, and 10 - 100 by 10's.
# [ ] use list addition to concatenate the lists into all_num and print

zero_nine = list(range(1,10))
print(zero_nine)
ten_onehundred = list(range(10,110,10))
print(ten_onehundred)
all_num = zero_nine + ten_onehundred
print(all_num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [12]:
# Reversing List

# [ ] review and run example
all_num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("regular list",all_num, "\n")
all_num.reverse()
print("reverse list",all_num, "\n")
num_len = len(all_num)

print("Three Multiple")
for num in all_num:
    if num/3 == int(num/3):
        print(num)
    else:
        pass

regular list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

reverse list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Three Multiple
90
60
30
9
6
3
0

In [15]:
# [ ] review and run example
# create a list of  numbers by casting a range 
count_list = list(range(21))
print("before list", count_list)

# and reverse
count_list.reverse()
print("after list", count_list)

before list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
after list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [21]:
#.reverse()
# [ ] create and  print a list of multiples of 5 from 5 to 100
# { ] reverse the list and print

multiples_5 = list(range(5,105,5))
print("5 multiples :", multiples_5)
multiples_5.reverse()
print("5 multiples reversed :", multiples_5)

5 multiples : [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
5 multiples reversed : [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [29]:
#.sort() & sorted()
# [ ] print cites from visited_cities list in alphbetical order using .sort()
# [ ] only print cities that names start "Q" or earlier
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
visited_cities.sort()
print(visited_cities)

for city in visited_cities:
    #print(city)
    if city[0] <= "Q":
        print(city)
    else:
        pass

['Dubai', 'Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'São Paulo', 'Toyko']
Dubai
Hyderabad
Mexico City
Munich
New York

In [32]:
# [ ] make a sorted copy (sorted_cities) of visited_cities list
# [ ] remove city names 5 characters or less from sorted_cities 
# [ ] print visitied cites and sorted cities
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "São Paulo", "Hyderabad"]
vc2 = sorted(visited_cities)
print(visited_cities)
for city in vc2:
    if len(city) <= 5:
        vc2.remove(city)
    else:
        pass
    
print(vc2)

['New York', 'Shanghai', 'Munich', 'Toyko', 'Dubai', 'Mexico City', 'São Paulo', 'Hyderabad']
['Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'São Paulo']

In [8]:
#step 1 get user input to build add_animals list
add_animals = []
resp = "Y"

while resp != "":
    resp = input("Enter your choice of animals.  To quite enter")
    if resp != "":
        add_animals.append(resp)
    else:
        print("good bye")
        
print(add_animals)

#step 2 Merge the lists: add_animals into animals

# [ ] extend the lists into animals, then sort 
animals = ["Chimpanzee", "Panther", "Wolf", "Armadillo"]
print("before extension:",animals)
animals.extend(add_animals)
print("after extension:",animals)

#step 3 Allow animals list to be viewed alpha or reverse alpha order

# [ ] get input if list should be viewed alpha or reverse alpha and display list

view_type = input("Do you want the list to be sorted in reverse ? (Enter Y or N)")

if view_type == 'Y':
    animals.sort()
    animals.reverse()
    print(animals)
else:
    print(animals)

Enter your choice of animals.  To quite enterArmadillo
Enter your choice of animals.  To quite enterAnteater
Enter your choice of animals.  To quite enterBaboon
Enter your choice of animals.  To quite enterCheetah
Enter your choice of animals.  To quite enterZeebra
Enter your choice of animals.  To quite enterTiger
Enter your choice of animals.  To quite enter
good bye
['Armadillo', 'Anteater', 'Baboon', 'Cheetah', 'Zeebra', 'Tiger']
before extension: ['Chimpanzee', 'Panther', 'Wolf', 'Armadillo']
after extension: ['Chimpanzee', 'Panther', 'Wolf', 'Armadillo', 'Armadillo', 'Anteater', 'Baboon', 'Cheetah', 'Zeebra', 'Tiger']
Do you want the list to be sorted in reverse ? (Enter Y or N)Y
['Zeebra', 'Wolf', 'Tiger', 'Panther', 'Chimpanzee', 'Cheetah', 'Baboon', 'Armadillo', 'Armadillo', 'Anteater']