## Assignment - Task1

In [2]:
# [ ] print out the "physical states of matter" (matter_states) in 4 sentences using list iteration
# each sentence should be of the format: "Solid - is state of matter #1" 
matter_states = ['solid', 'liquid', 'gas', 'plasma']
for matter in matter_states:
    print(matter.title()," - is state of matter ",matter)

Solid  - is state of matter  solid
Liquid  - is state of matter  liquid
Gas  - is state of matter  gas
Plasma  - is state of matter  plasma

In [5]:
# [ ] iterate the list (birds) to see any bird names start with "c" and remove that item from the list
# print the birds list before and after removals
birds = ["turkey", "hawk", "chicken", "dove", "crow"]
print("Before :: birds list", birds)
for bird in birds:
    if bird.startswith("c"):
        birds.remove(bird)
    else:
        pass
    
print("After :: birds list", birds)

Before :: birds list ['turkey', 'hawk', 'chicken', 'dove', 'crow']
After :: birds list ['turkey', 'hawk', 'dove']

In [7]:
# the team makes 1pt, 2pt or 3pt baskets
# [ ] print the occurrence of each type of basket(1pt, 2pt, 3pt) & total points using the list baskets
baskets = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]

pt1_total = 0
pt1_count = 0
pt2_total = 0
pt2_count = 0
pt3_total = 0
pt3_count = 0

for pt in baskets:
    if pt == 1:
        pt1_total += pt
        pt1_count += 1
    elif pt == 2:
        pt2_total += pt
        pt2_count += 1
    else:
        pt3_total += pt
        pt3_count += 1
    
print("Point1 Baskets Occurs :",pt1_count," : times and the total is :", pt1_total)
print("Point2 Baskets Occurs :",pt2_count," : times and the total is :", pt2_total)
print("Point3 Baskets Occurs :",pt3_count," : times and the total is :", pt3_total)

Point1 Baskets Occurs : 4  : times and the total is : 4
Point2 Baskets Occurs : 8  : times and the total is : 16
Point3 Baskets Occurs : 3  : times and the total is : 9

### Task2

In [1]:
# iteration with range(start) & range(start,stop)
# [ ] using range() print "hello" 4 times
# [ ] find spell_list length
# [ ] use range() to iterate each half of spell_list  
# [ ] label & print the first and second halves
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

for i in range(4):
    print("hello")

cnt = 0
for word in spell_list:
    cnt+=1
    
print("length of list spell_list is :", cnt)

hello
hello
hello
hello
length of list spell_list is : 7

In [3]:
all_num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
num_len = len(all_num)
print("length of list spell_list is :", num_len)

length of list spell_list is : 20

In [8]:
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
num_len = len(spell_list)
print("length of list spell_list is :", num_len)
mid_pt = int(num_len/2)

for i in range(mid_pt):
    print(spell_list[i])
    
print("+++++++++++++++")
print("Other Half")
print("+++++++++++++++")
for i in range(mid_pt,num_len):
    print(spell_list[i])

length of list spell_list is : 7
Tuesday
Wednesday
February
+++++++++++++++
Other Half
+++++++++++++++
November
Annual
Calendar
Solstice

In [11]:
# [ ] build a list of numbers from 20 to 29: twenties 
# append each number to twenties list using range(start,stop) iteration
# [ ] print twenties
twenties = []
total = 0
for i in range(20,30,1):
   #print(i)
    twenties.append(i)
    total+=i
    
print(twenties)
print("Sum of twenties is: ", total)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Sum of twenties is:  245

## Task3

In [13]:
# [ ] create a list of odd numbers (odd_nums) from 1 to 25 using range(start,stop,skip)
# [ ] print odd_nums
# hint: odd numbers are 2 digits apart
odd_nums = list(range(1,25,2))
print(odd_nums)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [18]:
# [ ] create a Decending list of odd numbers (odd_nums) from 25 to 1 using range(start,stop,skip)
# [ ] print odd_nums,  output should resemble [25, 23, ...]
odd_nums = list(range(25,1,-2))
print(odd_nums)

[25, 23, 21, 19, 17, 15, 13, 11, 9, 7, 5, 3]

In [22]:
# the list, elements, contains the names of the first 20 elements in atomic number order
# [ ] print the even number elements "2 - Helium, 4 - Beryllium,.." in the list with the atomic number
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']

for i in range(1,20):
    if (i % 2) == 0:
        print(i," - ",elements[i])
    else:
        pass

2  -  Lithium
4  -  Boron
6  -  Nitrogen
8  -  Fluorine
10  -  Sodium
12  -  Aluminum
14  -  Phosphorus
16  -  Chlorine
18  -  Potassium

In [43]:
# [ ] the list, elements_40, contains the names of the first 40 elements in atomic number order
# [ ] print the odd number elements "1 - Hydrogen, 3 - Lithium,.." in the list with the atomic number elements_40
elements_40 = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', \
 'Argon', 'Potassium', 'Calcium', 'Scandium', 'Titanium', 'Vanadium', 'Chromium', 'Manganese', \
 'Iron', 'Cobalt', 'Nickel', 'Copper', 'Zinc', 'Gallium', 'Germanium', 'Arsenic', 'Selenium', \
 'Bromine', 'Krypton', 'Rubidium', 'Strontium', 'Yttrium', 'Zirconium']

for i in range(0,40,2):
   print(i+1," - ",elements_40[i])

1  -  Hydrogen
3  -  Lithium
5  -  Boron
7  -  Nitrogen
9  -  Fluorine
11  -  Sodium
13  -  Aluminum
15  -  Phosphorus
17  -  Chlorine
19  -  Potassium
21  -  Scandium
23  -  Vanadium
25  -  Manganese
27  -  Cobalt
29  -  Copper
31  -  Gallium
33  -  Arsenic
35  -  Bromine
37  -  Rubidium
39  -  Yttrium

## Task 4

In [45]:
# [ ] print the combined lists (numbers_1 & numbers_2) using "+" operator
numbers_1 = [20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

# pythonic casting of a range into a list
numbers_2 = list(range(30,50,2))

print("combined list from numbers_1 & numbers_2: ", numbers_1+numbers_2)

combined list from numbers_1 & numbers_2:  [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [49]:
# [ ] print the combined element lists (first_row & second_row) using ".extend()" method
first_row = ['Hydrogen', 'Helium']
second_row = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

first_row.extend(second_row)
print("1st row extended: ", first_row)
second_row.extend(first_row)
print("2nd row extended: ", second_row)

1st row extended:  ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
2nd row extended:  ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']

In [53]:
# [ ] create the program: combined 3 element rows 

elem_1 = ['Hydrogen', 'Helium'] 
elem_2 = ['Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
elem_3 = ['Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

elem_1.extend(elem_2)
print("first two rows of Periodic table :",elem_1)
elem_1.extend(elem_3)
print("first three rows of Periodic table :",elem_1)

first two rows of Periodic table : ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon']
first three rows of Periodic table : ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon']

In [55]:
# [ ] .extend() jack_jill with "next_line" string - print the result
jack_jill = ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill']
next_line = ['To', 'fetch', 'a', 'pail', 'of', 'water']

jack_jill.extend(next_line)
print(jack_jill)

['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']

## Task 5 - .reverse()

In [58]:
#.reverse() : reverse a list in place
# [ ] use .reverse() to print elements starting with "Calcium", "Chlorine",... in reverse order
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']

elements.reverse()
print("elements in reverse order :", elements)

elements in reverse order : ['Calcium', 'Potassium', 'Argon', 'Chlorine', 'Sulfur', 'Phosphorus', 'Silicon', 'Aluminum', 'Magnesium', 'Sodium', 'Neon', 'Fluorine', 'Oxygen', 'Nitrogen', 'Carbon', 'Boron', 'Beryllium', 'Lithium', 'Helium', 'Hydrogen']

In [60]:
# [ ] reverse order of the list... Then print only words that are 8 characters or longer from the now reversed order
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]

spell_list.reverse()

for day in spell_list:
    if len(day) >= 8:
        print(day)
    else:
        pass

Solstice
Calendar
November
February
Wednesday

## Task 6 - .sort(), .sorted()

In [62]:
# .sort() and sorted()
# [ ] sort the list element, so names are in alphabetical order and print elements
elements = ['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon', 'Nitrogen', 'Oxygen', 'Fluorine', \
 'Neon', 'Sodium', 'Magnesium', 'Aluminum', 'Silicon', 'Phosphorus', 'Sulfur', 'Chlorine', 'Argon', \
 'Potassium', 'Calcium']
elements.sort()
print("elements in alpha order: ", elements)

elements in alpha order:  ['Aluminum', 'Argon', 'Beryllium', 'Boron', 'Calcium', 'Carbon', 'Chlorine', 'Fluorine', 'Helium', 'Hydrogen', 'Lithium', 'Magnesium', 'Neon', 'Nitrogen', 'Oxygen', 'Phosphorus', 'Potassium', 'Silicon', 'Sodium', 'Sulfur']

In [64]:
# [ ] print the list, numbers, sorted and then below print the original numbers list 
numbers = [2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]
nos_sorted = sorted(numbers)
print("Original list :", numbers)
print("sorted list:", nos_sorted)

Original list : [2, 2, 2, 1, 2, 1, 3, 3, 1, 2, 2, 2, 2, 1, 3]
sorted list: [1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3]

## Task 7 - .split()

In [66]:
#onverting a string to a list with .split()
# [ ] split the string, daily_fact, into a list of word strings: fact_words
# [ ] print each string in fact_words in upper case on it's own line
daily_fact = "Did you know that there are 1.4 billion students in the world?"
fact_words = daily_fact.split()
for words in fact_words:
    print(words.upper())

DID
YOU
KNOW
THAT
THERE
ARE
1.4
BILLION
STUDENTS
IN
THE
WORLD?

In [68]:
# [ ] split poem on "b" to create a list: poem_words
# [ ] print poem_words by iterating the list
poem = "The bright brain, has bran!"
poem_words = poem.split("b")

for words in poem_words:
    print(words)

The
right
rain, has
ran!

## Task 8 - .join()

In [74]:
#build a string from a list
# [ ] print a comma separated string output from the list of Halogen elements using ".join()"
halogens = ['Chlorine', 'Florine', 'Bromine', 'Iodine']

str_hal = ",".join(halogens)
print("list is :", halogens)
print("string is:", str_hal)

list is : ['Chlorine', 'Florine', 'Bromine', 'Iodine']
string is: Chlorine,Florine,Bromine,Iodine

In [88]:
# [ ] split the sentence, code_tip, into a words list
# [ ] print the joined words in the list with no spaces in-between
# [ ] Bonus: capitalize each word in the list before .join()
code_tip ="Read code aloud or explain the code step by step to a peer"

code_words = code_tip.split()
print("words with no space:", "".join(code_words))
code_WORDS = []

for words in code_words:
    #words2 = words.upper()
    code_WORDS.append(words.upper())

print(code_WORDS)
print("list as a string: ","".join(code_WORDS))

words with no space: Readcodealoudorexplainthecodestepbysteptoapeer
['READ', 'CODE', 'ALOUD', 'OR', 'EXPLAIN', 'THE', 'CODE', 'STEP', 'BY', 'STEP', 'TO', 'A', 'PEER']
list as a string:  READCODEALOUDOREXPLAINTHECODESTEPBYSTEPTOAPEER

In [101]:
#Cast a string to a list
#print to the same line
# [ ] cast the long_word into individual letters list 
# [ ] print each letter on a line
long_word = 'decelerating'

word_list = list(long_word)

for word in word_list:
    print(word)

d
e
c
e
l
e
r
a
t
i
n
g

In [103]:
# [ ] use use end= in print to output each string in questions with a "?" and on new lines
questions = ["What's the closest planet to the Sun", "How deep do Dolphins swim", "What time is it"]
for q in questions:
    print(q, end="?\n")

What's the closest planet to the Sun?
How deep do Dolphins swim?
What time is it?

In [104]:
# [ ] print each item in foot bones 
#    - capitalized, both words if two word name
#    - separated by a comma and space
#    - and keeping on a single print line
foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]

for f in foot_bones:
    print(f.title(), end=", ")

Calcaneus, Talus, Cuboid, Navicular, Lateral Cuneiform, Intermediate Cuneiform, Medial Cuneiform,